name: Model updater

on:
  # Triggers the workflow every month
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

jobs:
  build_model:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Runs a single command using the runners shell
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN }}
      - name: Use Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Cache Node Modules
        uses: actions/cache@v3
        with:
            path: |
                node_modules
            key: cache-${{ github.run_id }}

      - name: Install Dependencies
        run: npm ci

      - name: Install Playwright browsers and collect HTTP header orders
        run: |
          npx playwright install
          npx playwright install chrome
          npx playwright install msedge
          xvfb-run --auto-servernum -- node ./packages/header-order-collector/collector.js > ./packages/header-generator/src/data_files/headers_order.json

      - name: Generate model and update versions
        run: |
          npm version patch --git-tag-version=false
          export GIT_TAG=$(node -p "require('./package.json').version")

          npm run prerelease
          npm run buildNetwork
        env:
          APIFY_DATASET_URL: ${{ secrets.APIFY_DATASET_URL }}

      - name: Get the new version number
        id: get_version
        run: |
          echo "::set-output name=version::$(node -p "require('./package.json').version")"

      - name: Push new model
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "[auto] fingerprint/header model update"
          branch: master
          tagging_message: "v${{ steps.get_version.outputs.version }}"

          file_pattern: ./packages/

          commit_user_name: "modelmaker[bot] ⚒️"
          commit_user_email: modelmaker[bot]@users.noreply.github.com 

      - name: Create release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          tag_name: ${{ steps.get_version.outputs.version }}
          release_name: ${{ steps.get_version.outputs.version }}
          body: |
            This is an automated release of the model used by the `fingerprint-suite`.

            The only difference between this release and the previous one is the model used to generate fingerprints.
