name: Create a release
on:
    workflow_dispatch:
    workflow_call:

jobs:
    publish_to_pypi:
        name: Publish to PyPI
        runs-on: ubuntu-latest
        permissions:
            contents: write
            id-token: write # Required for OIDC authentication.
        environment:
            name: pypi
            url: https://pypi.org/project/crawlee
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-python@v5
              with:
                  python-version: '3.13'
            - uses: astral-sh/setup-uv@v6
            - name: Build project
              shell: bash
              run: uv build

            # Publishes the package to PyPI using PyPA official GitHub action with OIDC authentication.
            - name: Publish package to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
